.container {
  @apply grid grid-cols-1 sm:grid-cols-4 p-4 mx-auto overflow-hidden min-h-screen;
  grid-template-areas: "aside main main main";
}

.main {
  @apply mx-auto w-full overflow-auto;
    grid-area: main;
}

.aside {
  @apply sm:visible invisible  min-h-screen fixed;
      grid-area: aside;
}

.nav {
  min-height: 80%;
  @apply flex flex-col px-4;
}
.nav .logo {
  @apply font-bold text-2xl;
}

.nav .navigation {
  @apply flex flex-col my-6;
}

.nav .navigation .navLink {
  @apply text-gray-600;
}

.nav .navigation .navLinkActive {
  @apply text-gray-900 font-bold;
}

.footer {
  min-height: 20%;
}
